<?xml version="1.0" encoding="utf-8"?>
<Xtensive.Orm>
  <domains>
    <!-- Default configuration (SQL Server Express) -->
    
    <domain name="default" provider="sqlserver"
            connectionString="Data Source=localhost\SQLExpress;Initial Catalog=DOExTests;Integrated Security=True;MultipleActiveResultSets=True" />

    <!-- SQL Server -->
    
    <domain name="sqlserver" provider="sqlserver"
            connectionString="Data Source=localhost;Initial Catalog=DOExTests;Integrated Security=True;MultipleActiveResultSets=True" />

    <!-- SQL Server CE -->
    
    <domain name="sqlserverce" provider="sqlserverce"
            connectionString="Data Source=.\DOExTests.sdf" />

    <!-- PostgreSQL -->
    
    <domain name="postgresql" provider="postgresql"
            connectionString="HOST=localhost;DATABASE=DOExTests;USER ID=test;PASSWORD=test" />
    
    <!-- Oracle -->

    <domain name="oracle" provider="oracle"
            connectionString="DATA SOURCE=xe;USER ID=test;PASSWORD=test" />

    <!-- MySQL --> 

    <domain name="mysql" provider="mysql"
            connectionString="Server=localhost;Database=DOExTests;Uid=test;Pwd=test" />

    <!-- Firebird -->

    <domain name="firebird" provider="firebird"
            connectionString="User=test;Password=test;Database=C:\Program Files\Firebird\Firebird_2_5\DOExTests.fdb;DataSource=localhost; Port=3050;Dialect=3; Charset=NONE;Role=;Connection lifetime=15;Pooling=true; MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0;" />

    <!-- SQLite -->

    <domain name="sqlite" provider="sqlite"
            connectionString="Data Source=DOExTests.db3" />
  </domains>
</Xtensive.Orm>
