<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Xtensive.Orm" type="Xtensive.Orm.Configuration.Elements.ConfigurationSection, Xtensive.Orm" />
        <section name="Xtensive.Orm.Security.WithName" type="Xtensive.Orm.Security.Configuration.ConfigurationSection, Xtensive.Orm.Security" />
        <section name="Xtensive.Orm.Security.WithoutName" type="Xtensive.Orm.Security.Configuration.ConfigurationSection, Xtensive.Orm.Security" />
        <section name="Xtensive.Orm.Security.Empty" type="Xtensive.Orm.Security.Configuration.ConfigurationSection, Xtensive.Orm.Security" />
        <section name="Xtensive.Orm.Security" type="Xtensive.Orm.Security.Configuration.ConfigurationSection, Xtensive.Orm.Security" />
  </configSections>
	<Xtensive.Orm>
		<domains>
      <domain name="Default"
              upgradeMode="Recreate"
              provider="sqlserver"
              connectionString="Data Source=localhost\SQLExpress;Initial Catalog=Tests;Integrated Security=True;MultipleActiveResultSets=True">
        <!--
      <domain name="Default"
              upgradeMode="Recreate" 
              provider="sqlserverce"
              connectionString="Data Source=.\DO40-Test.sdf">
      <domain name="Default"
              upgradeMode="Recreate" 
              provider="postgresql"
              connectionString="HOST=127.0.0.1;DATABASE=do40test;USER ID=@username;PASSWORD=@password">
      <domain name="Default"
              provider="oracle"
              connectionString="DATA SOURCE=&quot;(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=5511))(CONNECT_DATA=(SERVICE_NAME=oracle)))&quot;;USER ID=@username;PASSWORD=@password"
              upgradeMode="Recreate">              
      -->
        <types>
          <add assembly="Xtensive.Orm.Security"/>
          <add assembly="Xtensive.Orm.Security.Tests"/>
        </types>        
			</domain>

		</domains>
	</Xtensive.Orm>
  <Xtensive.Orm.Security.WithName>
    <hashingService name="md5"/>
  </Xtensive.Orm.Security.WithName>
  <Xtensive.Orm.Security.WithoutName>
    <hashingService/>
  </Xtensive.Orm.Security.WithoutName>
  <Xtensive.Orm.Security.Empty>
  </Xtensive.Orm.Security.Empty>
  <Xtensive.Orm.Security>
    <hashingService name="sha1"/>
  </Xtensive.Orm.Security>
</configuration>