<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Xtensive.Orm" type="Xtensive.Orm.Configuration.Elements.ConfigurationSection, Xtensive.Orm" />
    <section name="Xtensive.Diagnostics" type="Xtensive.Diagnostics.Configuration.ConfigurationSection, Xtensive.Core"/>
  </configSections>
  <Xtensive.Orm configSource="Connections.config" />
  <Xtensive.Diagnostics>
    <logs>
      <!--
      <log name=""                      events="All"   provider="DebugOnlyConsole" format="Comprehensive" />
      <log name=""                      events="Error" provider="DebugOnlyConsole" format="Comprehensive" />
      <log name="Diagnostics"           events="Info"  provider="DebugOnlyConsole" format="Comprehensive" />
      <log name="Orm"                   events="All"   provider="DebugOnlyConsole" format="Comprehensive" />
      <log name="Storage.Providers.Sql" events="All"   provider="DebugOnlyConsole" format="Comprehensive" />
      -->
    </logs>
  </Xtensive.Diagnostics>
</configuration>