<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Xtensive.Orm" type="Xtensive.Orm.Configuration.Elements.ConfigurationSection, Xtensive.Orm"/>
  </configSections>
  <Xtensive.Orm>
    <domains>
      <domain name="Default"
              upgradeMode="Recreate"
              provider="sqlite"
              connectionString="Data Source=NLog.db">
        <types>
          <add assembly="Xtensive.Orm.Logging.NLog.Tests" />
        </types>
      </domain>
      <!--
              Supported providers:

                sqlserver      SQL Server (System.Data.Sql)
                sqlserverce    SQL Server CE 3.5 (System.Data.SqlServerCe)
                postgresql     Npgsql (ADO.NET provider for PostgreSQL)
                oracle         Oracle Data Provider for .NET (ODP.NET)
                firebird       ADO.NET provider for Firebird
                mysql          MySQL Connector/Net (ADO.NET provider for MySQL)
                sqlite         ADO.NET adapter for SQLite (System.Data.SQLite)

              Connection string should be a normal connection string for the specified ADO.NET provider.
            -->
    </domains>
    <logging provider="Xtensive.Orm.Logging.NLog.LogProvider, Xtensive.Orm.Logging.NLog">
    </logging>
  </Xtensive.Orm>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>