<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="Xtensive.Orm" type="Xtensive.Orm.Configuration.Elements.ConfigurationSection, Xtensive.Orm" />
    <section name="Xtensive.Orm.Security"
             type="Xtensive.Orm.Security.Configuration.ConfigurationSection, Xtensive.Orm.Security" />
  </configSections>
  <Xtensive.Orm>
    <domains>
      <domain name="Default" upgradeMode="Recreate" provider="sqlserver"
              connectionString="Data Source=localhost\SQLExpress;Initial Catalog=Tests;Integrated Security=True;MultipleActiveResultSets=True">
        <!--
      <domain name="Default"
              upgradeMode="Recreate" 
              provider="sqlserverce"
              connectionString="Data Source=.\DO40-Test.sdf">
      <domain name="Default"
              upgradeMode="Recreate" 
              provider="postgresql"
              connectionString="HOST=127.0.0.1;DATABASE=do40test;USER ID=@username;PASSWORD=@password">
      <domain name="Default"
              provider="oracle"
              connectionString="DATA SOURCE=&quot;(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=5511))(CONNECT_DATA=(SERVICE_NAME=oracle)))&quot;;USER ID=@username;PASSWORD=@password"
              upgradeMode="Recreate">              
      -->
        <types>
          <add assembly="Xtensive.Orm.Security" />
          <add assembly="Xtensive.Orm.Security.Web" />
          <add assembly="Xtensive.Orm.Security.Web.Tests" />
        </types>
      </domain>

    </domains>
  </Xtensive.Orm>

  <system.web>
    <membership defaultProvider="OrmMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="OrmMembershipProvider"
             type="Xtensive.Orm.Security.Web.OrmMembershipProvider,Xtensive.Orm.Security.Web" enablePasswordRetrieval="true"
             enablePasswordReset="false" requiresQuestionAndAnswer="false" applicationName="SecurityWebTestApp"
             requiresUniqueEmail="true" minRequiredNonAlphanumericCharacters="0" passwordStrengthRegularExpression=""
             passwordFormat="Clear" />
      </providers>
    </membership>

    <machineKey
validationKey="7D30287B722BF7141915476F0609FFD604CBB5243D8574F85BA5B496FA58D3EE49A8CE1E07E958F145967495A56E5B6298082070C0488F7B4FC42EDE9956422E"
decryptionKey="0A5D40CA5C48726556180200D9DBE44A8FE58A8E6A3E8CC153BFC631833BA0FE" validation="SHA1" decryption="AES" />
  </system.web>
</configuration>