<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Xtensive.Orm" type="Xtensive.Orm.Configuration.Elements.ConfigurationSection, Xtensive.Orm" />
  </configSections>
  <Xtensive.Orm>
    <domains>
      <domain
        name="default"
        upgradeMode="Recreate"
        provider="sqlserver"
        connectionString="Data Source=localhost;Initial Catalog=DO40-Tests;Integrated Security=True;MultipleActiveResultSets=True">
        <types>
          <add assembly="Xtensive.Orm.Tracking" />
          <add assembly="Xtensive.Orm.Tracking.Tests" />
        </types>
      </domain>
    </domains>
  </Xtensive.Orm>
</configuration>